@charset "utf-8";
/* CSS Document */
/* bg */
.p5{padding:5px;}
.bg001 { background:url(images/tab001.png) no-repeat left bottom; margin: 0px; padding: 0px;  height: 23px; line-height:23px; }
.bg002 { background:url(images/bg001.png) repeat-x 0 0; margin: 0px; padding:0px;}
.bg003 { background:url(images/tab002.png) no-repeat left bottom; margin: 0px; padding: 0px;  height: 23px; line-height:23px; }
.bg004 { background:url(images/bg002.png) repeat-x 0 0px; line-height: 25px; height: 25px; }
.bg005 { background-color:#e7f5e8; }
.bg006 { background-image:url(images/bg003.png);}
.bg007 { background:url(images/bg004.png) repeat-x 0 0; margin: 0px; padding:0px; height:72px;}

.btn001-b { background: url(images/ico001.png) no-repeat 10px 3px; height: 16px; width:16px; border: none; cursor: pointer; padding-left:10px;}
/* font */
.c1 { color:#003366;}
.c2 { color:#0a74bb;}          
.underline { text-decoration: underline; }
.border001 { border:1px solid #c3e0f2; border-top:none;}
.border002 { border:1px solid #b5cee1;}
.line001 {background-color:#e6f1f6;}

/* table */
.table001{height:20px; line-height:20px; padding:0px; margin:0px;}
.table001 tr th{text-align:right; padding-left:0px;}
.table001 tr td{text-align:left; padding-left:5px;}
.table002{padding:0px; margin:0px; padding-top:5px;}
.table002 tr th{text-align:right; padding-left:0px; padding-top:5px;}
.table002 tr td{text-align:left; padding-left:5px; padding-top:5px;}
.table003{height:21px; line-height:21px; padding:0px; margin:0px; }
.table003 tr th{text-align:right; padding-left:0px;}
.table003 tr td{text-align:left; padding-left:5px;}
.table004{height:24px; line-height:24px; padding:0px; margin:0px;  border-left:1px solid #c3e0f2;}
.table004 tr td{text-align:left; padding-left:20px;}
.table005 { height:50px; line-height:50px;}
